# --- Dossiers demandés ---
.nuxt
.output

# --- Fichiers demandés (Sécurité : on ignore tout sauf la configuration) ---
*.ts
*.json

# On ré-autorise les fichiers vitaux pour que le projet puisse démarrer sur une autre machine
!package.json
!package-lock.json
!tsconfig.json
!nuxt.config.ts
!app.vue

# --- AUTORISATION DU DOSSIER SERVER ---
# On autorise tout le dossier server et son contenu
!/server/**

# --- Dépendances ---
node_modules/

# --- Environnement ---
.env
*.log

# --- Dossiers de build optionnels ---
dist/
.cache/

/app/generated/prisma

/app/generated/prisma
